*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.caixa-principal {
    height: 100vh;
    margin: 0;
    background: radial-gradient(rgb(175,112,233),rgba(87, 82, 90, 0.862));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

nav{
    display: flex;
    align-items:center ;
    justify-content:space-between ;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 20px;
}
.portifolio{
   color: rgb(247, 241, 229); 
   font-size: 40px;
   font-weight: 500;
}
.portifolio span{
    color: rgb(180, 176, 183);
}
li{
    color: rgb(247, 241, 229);
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;

}
li:hover{
    color: rgb(180, 176, 183);
    transition: 0.1s;
}
.meu-nome h1{
    position: absolute;
    top: 20%;
    left: 14%;
    font-size: 330px;
    color: rgb(247, 241, 229);
}
.meu-nome h3{
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 50px;
    color: rgb(180, 176, 183);
}
.meu-nome h4{
    position: absolute;
    top: 78%;
    left: 60%;
    font-size: 23px;
    color: rgb(180, 176, 183);
}
section{
    height: 100vh;
    margin: 0;
    background: radial-gradient(rgb(175,112,233),rgba(87, 82, 90, 0.862));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
section div h2 {
    position: absolute;
    top: 120%;
    left: 60%;
    font-size: 40px;
    color: rgb(180, 176, 183);
}